@{
    ViewData["Title"] = "home";
    Layout = "_ViewCommo";
}
<h2>@ViewData["Title"]</h2>

<section>
    <div clss="main-block-left">
        <div class="main-block">
            <h4 class="main-header">
                #공지사항
            </h4>
        </div>
        <div class="panel">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="list-title">

                        <a href="#">CLAS 프로젝트</a>
                        <div class="list-gorup-item-author">
                            <div class="avatar">
                                <div class="info">
                                    <span class="nicname">
                                        작성자
                                    </span>
                                    <span class="nicname">
                                        2019.03.12
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="list-title">

                        <a href="#">CLAS 프로젝트</a>
                        <div class="list-gorup-item-author">
                            <div class="avatar">
                                <div class="info">
                                    <span class="nicname">
                                        작성자
                                    </span>
                                    <span class="nicname">
                                        2019.03.12
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="list-title">

                        <a href="#">CLAS 프로젝트</a>
                        <div class="list-gorup-item-author">
                            <div class="avatar">
                                <div class="info">
                                    <span class="nicname">
                                        작성자
                                    </span>
                                    <span class="nicname">
                                        2019.03.12
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="list-title">

                        <a href="#">CLAS 프로젝트</a>
                        <div class="list-gorup-item-author">
                            <div class="avatar">
                                <div class="info">
                                    <span class="nicname">
                                        작성자
                                    </span>
                                    <span class="nicname">
                                        2019.03.12
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="list-title">

                        <a href="#">CLAS 프로젝트</a>
                        <div class="list-gorup-item-author">
                            <div class="avatar">
                                <div class="info">
                                    <span class="nicname">
                                        작성자
                                    </span>
                                    <span class="nicname">
                                        2019.03.12
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--=========================================================== -->

</section>
<section>
    <div clss="main-block-left">
        <div class="main-block">
            <h4 class="main-header">
                #공지사항
            </h4>
        </div>
        <div class="panel">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="list-title">

                        <a href="#">CLAS 프로젝트</a>
                        <div class="list-gorup-item-author">
                            <div class="avatar">
                                <div class="info">
                                    <span class="nicname">
                                        작성자
                                    </span>
                                    <span class="nicname">
                                        2019.03.12
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="list-title">

                        <a href="#">CLAS 프로젝트</a>
                        <div class="list-gorup-item-author">
                            <div class="avatar">
                                <div class="info">
                                    <span class="nicname">
                                        작성자
                                    </span>
                                    <span class="nicname">
                                        2019.03.12
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="list-title">

                        <a href="#">CLAS 프로젝트</a>
                        <div class="list-gorup-item-author">
                            <div class="avatar">
                                <div class="info">
                                    <span class="nicname">
                                        작성자
                                    </span>
                                    <span class="nicname">
                                        2019.03.12
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="list-title">

                        <a href="#">CLAS 프로젝트</a>
                        <div class="list-gorup-item-author">
                            <div class="avatar">
                                <div class="info">
                                    <span class="nicname">
                                        작성자
                                    </span>
                                    <span class="nicname">
                                        2019.03.12
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="list-title">

                        <a href="#">CLAS 프로젝트</a>
                        <div class="list-gorup-item-author">
                            <div class="avatar">
                                <div class="info">
                                    <span class="nicname">
                                        작성자
                                    </span>
                                    <span class="nicname">
                                        2019.03.12
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!--=========================================================== -->

<section id="notebottom">
    <div clss="main-block-left">
        <div class="main-block">
            <h4 class="main-header">
                #공지사항
            </h4>
        </div>
        <div class="panel">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="list-title">

                        <a href="#">CLAS 프로젝트</a>
                        <div class="list-gorup-item-author">
                            <div class="avatar">
                                <div class="info">
                                    <span class="nicname">
                                        작성자
                                    </span>
                                    <span class="nicname">
                                        2019.03.12
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="list-title">

                        <a href="#">CLAS 프로젝트</a>
                        <div class="list-gorup-item-author">
                            <div class="avatar">
                                <div class="info">
                                    <span class="nicname">
                                        작성자
                                    </span>
                                    <span class="nicname">
                                        2019.03.12
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="list-title">

                        <a href="#">CLAS 프로젝트</a>
                        <div class="list-gorup-item-author">
                            <div class="avatar">
                                <div class="info">
                                    <span class="nicname">
                                        작성자
                                    </span>
                                    <span class="nicname">
                                        2019.03.12
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="list-title">

                        <a href="#">CLAS 프로젝트</a>
                        <div class="list-gorup-item-author">
                            <div class="avatar">
                                <div class="info">
                                    <span class="nicname">
                                        작성자
                                    </span>
                                    <span class="nicname">
                                        2019.03.12
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="list-title">

                        <a href="#">CLAS 프로젝트</a>
                        <div class="list-gorup-item-author">
                            <div class="avatar">
                                <div class="info">
                                    <span class="nicname">
                                        작성자
                                    </span>
                                    <span class="nicname">
                                        2019.03.12
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="list-title">

                        <a href="#">CLAS 프로젝트</a>
                        <div class="list-gorup-item-author">
                            <div class="avatar">
                                <div class="info">
                                    <span class="nicname">
                                        작성자
                                    </span>
                                    <span class="nicname">
                                        2019.03.12
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
                <li class="list-group-item">
                    <div class="list-title">

                        <a href="#">CLAS 프로젝트</a>
                        <div class="list-gorup-item-author">
                            <div class="avatar">
                                <div class="info">
                                    <span class="nicname">
                                        작성자
                                    </span>
                                    <span class="nicname">
                                        2019.03.12
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>