@{
    ViewData["Title"] = "home";
    Layout = "_ViewCommo";
}
<h2>@ViewData["Title"]</h2>
<script type="text/javascript" src="~/js/index.js"></script>
<section>
    <div id="Board" clss="main-block-left">
        <div class="main-block">
            <h4 class="main-header">
                #공지사항
            </h4>
        </div>
        <div class="panel">
            <ul class="list-group-board">
               
            </ul>
        </div>
    </div>

    <!--=========================================================== -->

</section>
<section>
    <div clss="main-block-left">
        <div class="main-block">
            <h4 class="main-header">
                #QnA
            </h4>
        </div>
        <div class="panel">
            <ul class="list-group-QnA">
                
            </ul>
        </div>
    </div>
</section>

<!--=========================================================== -->

<section id="notebottom">
    <div clss="main-block-left">
        <div class="main-block">
            <h4 class="main-header">
                #커뮤니티
            </h4>
        </div>
        <div class="panel">
            <ul class="list-group-Notice">
                
            </ul>
        </div>

    </div>
</section>