* {
    margin: 0;
    padding: 0
}

body {
    width: 100%;
    background: #fff;
}

.container {
    display: block;
    position: absolute;
    width: 1200px;
    background: #f8f8f8;
}

    .container .main {
        position: relative;
        width: 1080px;
        margin-left: 250px;
        padding-left: 30px;
        padding-top: 70px;
    }

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: inline-block;
    padding: 0 20px;
    overflow: hidden;
    background-color: #0059ab;
    width: 210px;
    height: auto;
}

#nav-head {
    height: 100px;
    margin-right: -17px;
    margin-left: -15px;
    padding: 20px 15px 0 10px;
}

    #nav-head .logo {
        height: 80px;
        background-image: url(/images/CLALogo.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        width: 100%;
    }

.nav-main {
    height: 130px;
    margin-right: -17px;
    margin-left: -15px;
    padding: 10px 15px 0 10px;
}

    .nav-main ul {
        list-style: none;
    }

        .nav-main ul li {
            width: 50%;
            float: left;
            text-align: center;
            border-top: 1px solid #00519c;
            border-bottom: 1px solid #00519c;
        }

            .nav-main ul li a {
                font-size: 15px;
                font-weight: bold;
                background: none;
                padding: 10px 20px;
                text-decoration: none;
                color: white;
                cursor: pointer;
            }

.item {
    height: 250px;
}

    .item li {
        position: relative;
        display: block;
    }

        .item li a {
            display: block;
            position: relative;
            padding: 30px 30px;
            text-decoration: none;
            color: white;
            font-size: 15px;
            font-weight: bold;
            background: none;
            cursor: pointer;
        }


.content {
    position: relative;
    display: block;
    width: 900px;
    height: auto;
    min-height: 800px;
    padding: 20px 50px;
}

section {
    display: inline-block;
    width: 43%;
    padding: 20px 15px;
}

.main-block-left {
    position: relative;
    padding-left: 0;
    padding-right: 20px;
    float: left;
}

.main-block {
    display: block;
    margin-bottom: 20px;
    width: 90%;
}

.main-header {
    font-size: 15px;
    color: #56595c;
}

.panel {
    position: relative;
    width: 90%;
    border-radius: 1;
    border-color: #ddd;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.list-group-Board .list-group-QnA .list-group-Notice {
    list-style-type: disc;
    margin-bottom: 0;
    padding-left: 0;
}

.list-group-item {
    padding: 10px 10px;
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.list-title {
    float: none;
    width: 100%;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 15px;
    line-height: 1.2em;
    color: #1a446b;
    font-weight: normal;
    margin-top: 3px;
    margin-bottom: 3px;
    word-break: break-all;
    display: block;
}



a {
    color: #2a6496;
    text-decoration: none;
}

.list-group-item-author {
    width: auto;
    margin-top: 5px;
    float: right !important;
}

.avatar {
    display: block;
}

    .avatar .info {
        display: block;
        float: right;
        font-size: 12px;
        line-height: 5px;
        margin-right: 10px;
        padding-bottom: 10px;
    }

.main-block-right {
    display: block;
    position: relative;
    padding-left: 100px;
    padding-right: 0;
    float: left;
}

#notebottom {
    width: 100%;
    padding: 20px 20px;
}

    #notebottom .main-block {
        display: block;
        margin-bottom: 20px;
        width: 85%;
    }

    #notebottom .panel {
        display: inline-block;
        width: 85%;
        border-radius: 1;
        border-color: #ddd;
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

#center {
    margin-left: 250px;
}

.tr:hover {
    background-color: yellow;
    cursor: pointer;
}

/*================상세페이지====================*/

.detail {
    position: relative;
    width: 90%;
    margin-bottom: 40px;
    background-color: #fff;
    border: 1px solid silver;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

    .detail .detail-head {
        padding: 15px 20px;
        border: 1px solid silver;
        font-size: 20px;
    }

.suject {
    display: block;
    font-size: 13px;
    line-height: 5px;
    padding: 10px 0 10px 0;
}

.detail .detail-content {
    padding: 15px 20px;
    border: 1px solid silver;
}

.content_body {
    height: auto;
}

h2 {
    font-size: 22px;
    margin-top: 0;
    word-break: break-all;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.content-text {
    overflow-x: auto;
    min-height: 300px;
    margin: 30px 0;
    word-break: break-all;
    word-wrap: break-word;
}

#note-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    padding: 10px 20px
}



/*==============바닥글=========================*/

#footer {
    position: relative;
    border-top: 1px solid #ddd;
    width: 900px;
    color: #999;
    font-size: 12px;
    margin-top: 50px;
    padding-top: 20px 0;
    height: 100px;
    text-align: left;
}



/* =====================°Ô½Ã¹°==================*/
.BoardList1 {
    color: #666666;
    font-weight: bold;
}

.BoardList2 {
    padding: 25;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.BoardList3 {
    width: 70px;
    height: 30px;
    background: gray;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    /*background-repeat: repeat-x;*/
}

.BoardList4 {
    width: 220px;
    height: 30px;
    background: gray;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    /*background-repeat: repeat-x;*/
}

.BoardList5 {
    width: 200px;
    height: 30px;
    background: gray;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    /*background-repeat: repeat-x;*/
}

.BoardList6 {
    width: 130px;
    height: 30px;
    background: gray;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    /*background-repeat: repeat-x;*/
}

.group_member {
    display: flex;
    flex-flow: row wrap;
}

.create_notice {
    order: 1;
    width: 150px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    border-radius: 30px;
    background-color: green;
}

.btn-wide {
    text-decoration: none;
    color: white;
}

.form_data {
    order: 2;
    margin-left: 300px;
}

.dan {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}


#text {
    width: 250px;
    height: 30px;
    margin-top: 10px;
    font-size: 16px;
}

#submit {
    width: 50px;
    height: 35px;
    padding-bottom: 2px;
    font-size: 16px;
}
