* {
    margin: 0;
    padding: 0;
}

@media all and (min-width:701px) {
    .wrap {
        width: 100%;
        background: #f2f4f7;
    }

    /* 헤더 부분! */
    header {
        background: #fff;
    }

    header .head_group {
        border-bottom: 1px solid #999;
    }

    #logbox {
        display: block;
        margin: 0 auto;
        width: 1080px;
        height: 150px;

    }

    img {
        width: 200px;
        height: 150px;
    }


    /* 네비게이션! */
    nav {
        background: #0059ab;
        border-bottom: 1px solid #999;
    }

    nav .nav_area {
        margin: 0 auto;
        width: 1080px;
        height: 50px;
    }

    .info_list {
        display: block !important;
        list-style-type: none;
    }

    .info_list li {
        display: inline-block;
        margin-top: 10px;
        width: 130px;
    }

    nav li a {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: white;
    }


    .menu_toggle_btn {
        display: none !important;
    }

    #contentswrap {
        width: 100%;
    }

    #contents {
        width: 80%;
        height: 900px;
        margin: 0 auto;
        padding: 0;
        background: #fff;
        border: 1px solid #e0e0e0;
    }

    .section1 {
        display: inline-block;
        width: 30%;
        float: left;

    }

    .section2 {
        display: inline-block;
        width: 40%;
        float: left;

    }

    .section3 {
        display: inline-block;
        width: 30%;
        float: left;

    }


    .top {
        text-align: center;
        width: 100%;
        height: 40px;
        margin-top: 50px;
        background-color: gainsboro;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .bottom {
        border-left: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .bottom ul {
        list-style-type: none;
    }

    .list_type li {
        padding: 10px 8px 1px 9px;
        font-weight: normal;
    }

    .list_type li a {
        text-decoration: none;
    }

    .footer {
        width: 100%;
        height: 100px;
        text-align: center;
        position: absolute;
        bottom: 1.5;
        background: #f2f4f7;
    }



    /*바디 부분*/

    #lvContent {

        margin-top: 45px;
        margin: 0 auto;
        height: auto;
        
    }

    table {
        width: 100%;
    }

    .BoardList0 {
        padding: 60px;
        height: auto;
    }

    .BoardList1 {
        color: #666666;
        font-weight: bold;
    }

    .BoardList2 {
        padding: 25;
        text-align: right;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .BoardList3 {
        width: 50px;
        height: 30px;
        background: gray;
        color: #FFFFFF;
        font-weight: bold;
        text-align: center;
        /*background-repeat: repeat-x;*/
    }

    .BoardList4 {
        width: 200px;
        height: 30px;
        background: gray;
        color: #FFFFFF;
        font-weight: bold;
        text-align: center;
        /*background-repeat: repeat-x;*/
    }

    .BoardList5 {
        width: 140px;
        height: 30px;
        background: gray;
        color: #FFFFFF;
        font-weight: bold;
        text-align: center;
        /*background-repeat: repeat-x;*/
    }

    .BoardList6 {
        width: 90px;
        height: 30px;
        background: gray;
        color: #FFFFFF;
        font-weight: bold;
        text-align: center;
        /*background-repeat: repeat-x;*/
    }

    .group_member {
        display: flex;
        flex-flow: row wrap;
    }

    .create_notice {
        order: 1;
        width: 120px;
        height: 30px;
        padding-top: 10px;
        text-align: center;
        border-radius: 30px;
        background-color: green;
    }

    .btn-wide {
        text-decoration: none;
        color: white;
    }

    .form_data {
        order: 2;
        margin-left: auto;

    }

    #text {
        width: 250px;
        height: 30px;
        margin-top: 10px;
        font-size: 16px;
    }

    #submit {
        width: 50px;
        height: 35px;
        padding-bottom: 2px;
        font-size: 16px;
    }
}


@media all and (max-width: 700px) {
    #logbox {
        width: 100%;
    }

    img {
        width: 200px;
        height: 150px;
    }

    /* 네비게이션! */
    nav {
        background: #0059ab;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #999;
    }

    .menu_toggle_btn {
        display: block;
        margin-left: 10px;
        width: 100%;
        height: 40px;
        top: 160px;
        position: absolute;
        background: url(toggle_button.PNG) no-repeat;
        cursor: pointer;
    }

    nav .nav_area {
        display: block;
        float: left;
        background: #0059ab;
        width: 100%;
        height: auto;
    }


    .info_list {
        margin-left: 10px;
        margin-top: 50px;
        list-style-type: none;

    }

    nav li {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    nav li a {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: white;
    }



    #contentswrap {
        width: 100%;
    }

    #contents {
        width: 100%;
        height: 900px;
        margin: 0 auto;
        padding: 0;
        background: #fff;
        border: 1px solid #e0e0e0;
    }

    .section1 {
        display: block;
        width: 100%;
        float: left;

    }

    .section2 {
        display: block;
        width: 100%;
        float: left;

    }

    .section3 {
        display: block;
        width: 100%;
        float: left;

    }


    .top {
        text-align: center;
        width: 100%;
        height: 40px;
        margin-top: 50px;
        background-color: gainsboro;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .bottom {
        border-left: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .bottom ul {
        list-style-type: none;
    }

    .list_type li {
        padding: 10px 8px 1px 9px;
        font-weight: normal;
    }

    .list_type li a {
        text-decoration: none;
    }

    .footer {
        width: 100%;
        height: 100px;
        text-align: center;
        position: absolute;
        bottom: 1;
        background: #f2f4f7;
    }
}
